.movieList--Wrap {
    background-color: rgb(243, 137, 38);
    height: 100%;
    margin-bottom: 4em;
}

.movieList--Div {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    color: whitesmoke;
    text-shadow: 10px 10px 10px black;
    
}